<div class="manage">
  <h1>产品管理</h1>
  <div align="center">
    <%= link_to "添加产品", new_business_subject_path %>
    <%= link_to "添加分类", new_business_variety_path(:business_id => @current_business) %>
  </div>
  <div class="subjects-area">
    <% @varieties.each do |var| %>
      <h3><%= var.name %></h3>
      <div class="subjects">
        <% var.subjects.each do |subject| %>
          <div>
            <%= image_tag(subject.image ? subject.image.data.url(:thumb) : "blank-small.jpg") %><br/>
            价格：<%=number_to_currency subject.price %><br/>
            <%=subject.name%><br/>
            <%=link_to "编辑", edit_business_subject_path(subject)%>
            <%=link_to "删除", business_subject_path(subject), :method => :delete, :confirm => "确定删除？"%>
          </div>
        <% end %>
        <p class="clear"></p>
      </div>
    <% end %>
  </div>
</div>