<%= render "admin/varieties/menu" %>
  <table class="list">
    <tr class="head">
      <td>分类名称</td>
      <td>操作</td>
    </tr>
    <% @varieties.each do |variety|  %>
    <tr>
      <td>
        <%= variety.name %>
      </td>
      <td>
        <%= link_to "编辑",edit_admin_business_variety_path(:business_id=>@business,:id=>variety) %>
        <%= link_to "删除",admin_business_variety_path(:business_id=>@business,:id=>variety),:method=>:delete,:confirm=>"确认删除？" %>
      </td>
    </tr>
    <% end %>
      </table>
  <div class="action-bar">
    <input type="button" value="添加分类" onclick="window.location='<%= new_admin_business_variety_path %>'"/>
  </div>
</div>