<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mar_x2" >
  <tr>
    <td width="81%">
      <dl class="tg_img">
        <dd><%= image_tag(activity.image ? activity.image.data.url(:thumb) : "blank-thumb.jpg") %></dd>
        <dt><a href="#"><span class="red"><%= link_to activity.name, activity_path(activity) %></span></a><br />
          时间：<%=l activity.begin_at %> - <%=l activity.end_at %><br />
          参加客户数：<%= activity.customers.size %> 人<br />
          团购价格：原价：<span class="xiehua"><%= number_to_currency activity.price %></span>元  现价：<%= number_to_currency activity.price %>元 <br />
        </dt>
      </dl>
      <p>剩余时间：<%= distance_between(Time.now, activity.end_at)%></p>    </td>
    <td width="19%" align="center">
      <% if activity.business.level == 0 %>
        尚未有人评论
      <% else %>
        <% activity.business.level.downto(1) do %>
          <%= image_tag "ico-lo_13.gif", :width=>"15", :height=>"15" %>
        <% end %>
      <% end %>
      <br />
     <%=link_to "#{activity.business.comments_count} 封点评", business_comments_path(activity.business) %><br />
     <%= link_to image_tag("tuangou_03.gif"), customer_partakes_path(:activity_id => activity.id), :method => :post %>

      <p>&nbsp;</p></td>
  </tr>
</table>